<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sakaeGakkou</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login_page_code</display-name>
    <servlet-name>login_page_code</servlet-name>
    <servlet-class>gakkou.login_page_code</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_page_code</servlet-name>
    <url-pattern>/websakae/login_page_code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfo</display-name>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>beansSakae.UserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/websakae/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Course</display-name>
    <servlet-name>Course</servlet-name>
    <servlet-class>beansSakae.Course</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course</servlet-name>
    <url-pattern>/websakae/Course</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>gakkou.registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/websakae/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionClass</display-name>
    <servlet-name>ConnectionClass</servlet-name>
    <servlet-class>gakkou.ConnectionClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionClass</servlet-name>
    <url-pattern>/websakae/ConnectionClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>courseDAO</display-name>
    <servlet-name>courseDAO</servlet-name>
    <servlet-class>gakkou.courseDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseDAO</servlet-name>
    <url-pattern>/websakae/courseDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>student_update_info</display-name>
    <servlet-name>student_update_info</servlet-name>
    <servlet-class>gakkou.student_update_info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_update_info</servlet-name>
    <url-pattern>/websakae/student_update_info</url-pattern>
  </servlet-mapping>
</web-app>